/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* purge start ignore */
@layer base {
    body {
        @apply leading-normal tracking-normal text-base font-normal break-words;
        @apply font-sans text-base lg:text-xl;
    }

    main {
        @apply pt-24 max-w-7xl mx-auto;
        @apply text-center;
    }

    a {
        @apply link link-primary;
        @apply no-underline hover:no-underline focus:outline-none focus:underline;
    } 

    h1 {
        @apply text-2xl text-primary my-4
    }

    h2 {
        @apply text-xl font-semibold text-secondary my-2 
    }

    h3{
        @apply text-base font-semibold text-accent my-2
    }
}
  
  /* purge end ignore */
